<table class="tx-fs-events" >
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_event.image" />
		</td>
		<td>
			{event.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_event.event_start_date" />
		</td>
		<td>
			{event.eventStartDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_event.event_end_date" />
		</td>
		<td>
			{event.eventEndDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_event.price" />
		</td>
		<td>
			{event.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_event.ticket_link" />
		</td>
		<td>
			{event.ticketLink}
		</td>
	</tr>
</table>