<table class="tx-fs-events" >
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.title" />
		</td>
		<td>
			{location.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.description" />
		</td>
		<td>
			{location.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.address" />
		</td>
		<td>
			{location.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.zip" />
		</td>
		<td>
			{location.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.city" />
		</td>
		<td>
			{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.country" />
		</td>
		<td>
			{location.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.latitude" />
		</td>
		<td>
			{location.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.longitude" />
		</td>
		<td>
			{location.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fsevents_domain_model_location.image" />
		</td>
		<td>
			{location.image}
		</td>
	</tr>
</table>